.patientlist {
    flex: 1;
    border-right: 2.4px solid #f0f0f0;
}

.patientlistWrapper {
    padding: 8px;
    /* color: #444; */
}

#listTitle {
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 6px;
}

.patientlistMenu {
    margin-top: 10px;
    padding: 3px 7px 7px 7px;
    border-radius: 8px;
}

#waiting.patientlistMenu {
    background-color: #e8cfda;
}

#reservation.patientlistMenu {
    background-color: #f0e9ec;
}

.patientlistTitle {
    font-size: 0.8rem;
    margin-left: 5px;
}

.patientlistList {
    font-size: 0.8rem;
    /* color: #777; */
    font-weight: bold;
    /* list-style: none; */
    padding: 4px;
    background-color: white;
    border-radius: 8px;
    margin: 6px 0 0 0;
}

.patientlistItem {
    padding: 3px;
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    border-radius: 10px;
}

/* .patientlistItem.active,
.patientlistItem:hover {
    background-color: rgb(231, 231, 231);
} */

.patientlistItem img {
    width: 1rem;
    height: 1rem;
    /* object-fit: contain; */
    margin-right: 0.7rem;
}

