.container {
	display: flex;
	/* display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; */
}

.topbarContainer {
    flex: 12;
}

.patientlistContainer {
    display: flex;
}

.content {
    flex: 8; 
    background-color: #d9e6d3;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 47px);
    position: sticky;
    top: 50px;
}

.title {
    font-weight: bold;
}

.patientSummary {
    position: absolute;
    top: 0px;
    width: 95%;
    /* flex-basis: 1000px; */
    /* flex-grow: 1; */
    background-color: #fff;
    height: 15px;
    font-size: 0.8rem;
    /* display: flex; */
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* SEARCH BAR */
.Searchbar {
    margin: 10px;
    width: 720px;
}

.examinationContentWrapper {
    font-size: 0.85rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #d9e6d3;
    margin-top: 10px;
}

.itemAmount {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin: 10px;
}

.itemAmountDetail {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: gray;
    margin: 15px 10px 15px 15px;
}

.addPayment {
    font-size: 0.85rem;
    margin: 10px;
    color: #94AA95;
}

.order-search-field{
    width: 100%;
    height: 50px;
    padding: 5px 55px 5px 25px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: white;
    font-size: 0.9rem;
}

::placeholder {
    color: #999;
    opacity: 1;
    /* font-weight: bold; */
}

.Search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -50px;
    display: flex;
    align-items: center;
}
  
.Search-button img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}

/* MENU */
#long {
    background-color: #fff;
    width: 720px;
    height: 115px;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    border-radius: 25px;
    align-items: flex-start;
    margin: 10px;
}

#long span {
    margin-bottom: 0px;
}

.homeMenuItem {
    background-color: #fff;
    width: 280px;
    height: 163px;
    /* flex: 1; */
    /* flex-basis: auto; */
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    border-radius: 25px;
    /* align-items: flex-start; */
    margin: 10px;
    /* flex-wrap: wrap; */
    position: relative;
}

.homeMenuItemTitle {
    font-size: 13px;
    font-weight: bold;
    color: #777;
    margin-bottom: 15px;
}

.homeMenuItem span{
    /* margin-top: 15px; */
    font-weight: bold;
}

.homeMenuItem button {
    align-self: flex-end;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(231, 231, 231);
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    right: 25px;
}
