 .loginHome{
    width:100vw;
    height:100vh;
    background-color: #d9e6d3;
    display: flex;
    align-items: center;
    justify-content: center;    /*loginContentBox창을 가운데 정렬하기 위해 부모요소에 작성*/
} 


.loginContentBox{
    /* display: inline-block; */
    background-color:white;
    border-radius: 5%;
    width: 390px;
    height: 490px;
    /* overflow: auto; */
    
}

.loginContent{
    padding: 90px 20px 50px 40px;
    /* padding-top: 90px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 50px; */
}


.remedi{
    display:flex;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 50px;
    /* padding-bottom: 40px; */
    color:#4B99FF
}



.inputBoxID{
    padding-top: 9px;
    margin: 0px;
    padding-bottom: 9px;
    position: relative;
    /* align-items: flex-start; */
}


.inputBoxID  img{
    position: absolute;
    display: flex;
    width:5.5%;
    height: 35%;
}

.inputBoxID input{
    border-style: solid;
    border-radius: 5px;
    border-color:  #e6e6e6;
    border-width: 1px;
    width: 310px;
    height:33px;
    margin:0px;
    padding: 0px;
    text-indent: 2em;
    font-size: 14px;
    background-image: url('/public/icons/userlogin.png');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 5px;
}

.inputBoxPW input{
    border-style: solid;
    border-radius: 5px;
    border-color:  #e6e6e6;
    border-width: 1px;
    width: 310px;
    height:33px;
    margin:0px;
    padding: 0px;
    text-indent: 2em;
    font-size: 14px;
    background-image: url('/public/icons/free-icon-lock-5525365.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 5px;
}

.inputBoxID input:focus {
    /* border-style: bold; */
    border-color:#BDBDBD;
    outline: none;  
}

.inputBoxPW input:focus {
    /* border-style: bold; */
    border-color:#BDBDBD;
    outline: none;  
}

.userLogin{
    width: 13px;
    height: 13px;
}

.option{
    margin-top: 60px;
}

.checkBox{
    display: inline;
    /* margin-top: 3px; */
}

.saveID{
    font-size: 10px;
    vertical-align:middle;
    padding-left: 6px;
    cursor: pointer;
}


input[id="id"] + label {
	display: inline-block;
	width: 9px;
	height: 9px;
	border: 1px solid #e6e6e6;
    border-radius: 20%;
	cursor: pointer;

}

input[id="id"]:checked + label {
    background-color: #e6e6e6;
    cursor: pointer;
    /* background-image: url('public/icons/square-check-solid.png'); */
}
/*
.idCheckbox{
    width: 10px;
    height: 10px;
    background-color: red;
}
*/

input[id="id"] {
    display: none;
}


.forgetPW{
    margin-left:160px;
    font-size: 10px;
    color:gray;
    font-weight: bold;
    cursor:pointer;
    /* margin-right: 20px; */
}
.buttonWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.Button{
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color:  #e6e6e6;
    border-width: 1px;
    width: 310px;
    height:33px;
    /* margin:0px; */
    margin-bottom: 9px;
    /* padding-bottom: 0; */
    text-indent: 1em;
    font-size: 15px;
    text-align: center;
    font-size: 11px;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    
}


.Button:active {
    background-color: #4B99FF;
    outline: none;
    color:white;
}