.container {
  display: flex;
  /* display: inline-flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: stretch; */
}

.topbarContainer {
  flex: 12;
}

.patientlistContainer {
  display: flex;
}

.content {
  flex: 8;
  background-color: #d9e6d3;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 47px);
  position: sticky;
  top: 50px;
}

/* .display{
    display:flex;
    background-color: #d9e6d3;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
} */

.receptionContainer {
  display: flex;
  width: 100%;
  height: calc(100% - 20px);
  position: sticky;
  top: 10px;
}

.receptionWrapper {
  flex: 30;
  background-color: #fff;
  font-size: 0.8rem;
  /* display: flex; */
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  /* align-items: center; */
  justify-content: space-between;
}

.receptionContentWrapper {
  font-size: 0.85rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #d9e6d3;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.patientInfoTitle {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: gray;
  padding-bottom: 5px;
}

.receptionInfoTitle {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.receptionInfoWrapper {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-left: 5px;
}

.receptionContent {
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.patientName {
  padding-right: 10px;
}

.qualificationWrapper {
  display: flex;
  justify-content: space-between;
}

.qualified {
  display: flex;
  padding-top: 10px;
}

.CheckIcon {
  width: 13px;
  height: 13px;
  padding-left: 5px;
  padding-top: 2px;
}

.RefreshIcon {
  width: 13px;
  height: 13px;
  padding-right: 5px;
  padding-top: 7px;
  cursor: pointer;
}

.receptionBtnWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  bottom: 10%;
}

.receptionBtn {
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #e6e6e6;
  border-width: 1px;
  width: 60px;
  height: 30px;
  margin-bottom: 9px;
  font-size: 15px;
  text-align: center;
  font-size: 11px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.receptionBtn:active {
  background-color: #d9e6d3;
  outline: none;
  color: white;
}

.insuranceTitle {
  display: flex;
  justify-content: space-between;
}

.checkPregnant {
  font-size: 10px;
  vertical-align: top;
  padding-left: 6px;
  cursor: pointer;
  color: gray;
}

.listButton {
  width: 200px;
  height: 30px;
  text-align: center;
}

.pregnant {
  vertical-align: top;
  padding-left: 5px;
}

.claimButtonWrapper {
  padding-top: 20px;
  padding-bottom: 10px;
}
.claimButton {
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #e6e6e6;
  border-width: 1px;
  width: 90px;
  height: 30px;
  padding-bottom: 0;
  font-size: 15px;
  text-align: center;
  font-size: 11px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.claimButton:active {
  background-color: #4b99ff;
  outline: none;
  color: white;
}
.infoButton {
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #e6e6e6;
  border-width: 1px;
  width: 120px;
  height: 27px;
  padding-bottom: 0;
  font-size: 15px;
  text-align: left;
  padding-left: 8px;
  font-size: 11px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.detailPurpose {
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #e6e6e6;
  border-width: 1px;
  width: 110px;
  height: 24px;
  margin-top: 5.4px;
  padding-bottom: 0px;
  font-size: 15px;
  text-align: left;
  padding-left: 8px;
  font-size: 11px;
}

.vitalSign {
  padding-left: 5px;
  padding-top: 10px;
}

.getVitalSign {
  display: flex;
  padding-left: 30px;
  padding-right: 20px;
  justify-content: space-between;
}

.vitalInput {
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #e6e6e6;
  border-width: 1px;
  width: 55px;
  height: 23px;
  padding-bottom: 0;
  font-size: 15px;
  text-align: left;
  padding-left: 8px;
  font-size: 11px;
}

.bloodPressureHighInput {
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #e6e6e6;
  border-width: 1px;
  margin-right: 10px;
  width: 38px;
  height: 22px;
  font-size: 15px;
  text-align: center;
  padding-left: 8px;
  font-size: 11px;
}

.bloodPressureLowInput {
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #e6e6e6;
  border-width: 1px;
  margin-right: 10px;
  width: 38px;
  height: 22px;
  font-size: 15px;
  text-align: center;
  padding-left: 8px;
  font-size: 11px;
}
