.container {
	display: flex;
	/* display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; */
}

.topbarContainer {
    flex: 12;
}

.patientlistContainer {
    display: flex;
}

.content {
    flex: 8; 
    background-color: #d9e6d3;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 47px);
    position: sticky;
    top: 50px;
}

.patientRegistration{
    background-color: #fff;
    align-items: stretch;
    margin: 10px;
    padding: 20px;
}