.signUpHome{
    width:100vw;
    height:100vh;
    background-color: #d6dcea;
    display: flex;
    align-items: center;
    justify-content: center;    /*loginContentBox창을 가운데 정렬하기 위해 부모요소에 작성*/
} 

.signUpContentBox{
    background-color:white;
    border-radius: 5%;
    width: 390px;
    height: 550px;
}

.signUpContent{
    padding: 90px 20px 50px 40px;
}


.inputBox{
    padding-top: 9px;
    margin: 0px;
    padding-bottom: 1.5px;
    /* align-items: flex-start; */
}

.inputBoxHospital input{
    border-style: solid;
    border-radius: 5px;
    border-color:  #e6e6e6;
    border-width: 1px;
    width: 310px;
    height:33px;
    margin:0px;
    padding: 0px;
    text-indent: 2em;
    font-size: 14px;
    background-image: url('/public/icons/hospital-building.png');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 5px;
}

.inputBoxHospital input:focus {
    /* border-style: bold; */
    border-color:#BDBDBD;
    outline: none;  
}


.inputBoxLicense input{
    border-style: solid;
    border-radius: 5px;
    border-color:  #e6e6e6;
    border-width: 1px;
    width: 310px;
    height:33px;
    margin:0px;
    padding: 0px;
    text-indent: 2em;
    font-size: 14px;
    background-image: url('/public/icons/license.png');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 5px;
}

.inputBoxLicense input:focus {
    /* border-style: bold; */
    border-color:#BDBDBD;
    outline: none;  
}

.inputBoxDoctor input{
    border-style: solid;
    border-radius: 5px;
    border-color:  #e6e6e6;
    border-width: 1px;
    width: 310px;
    height:33px;
    margin:0px;
    padding: 0px;
    text-indent: 2em;
    font-size: 14px;
    background-image: url('/public/icons/stethoscope.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 5px;
}

.inputBoxDoctor input:focus {
    border-color:#BDBDBD;
    outline: none;  
}


.buttonWrapperSignUp{
    padding-top: 45px;
}

.inputBoxHospital{
    padding-top: 9px;
    margin: 0px;
}

.inputBoxLicense{
    padding-top: 9px;
    margin: 0px;
}

.inputBoxDoctor{
    padding-top: 9px;
    margin: 0px;
}