.inputWrapper {
    width: 300px;
    font-size: 0.85rem;
}
    .inputWrapper div {
        margin-left: 5px;
        margin-bottom: 5px;
    }

.inputBoxMDName input{
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
    text-indent: 0.4rem;
    /* font-size: 14px; */
}
    .inputBoxMDName input:focus {
        /* border-style: bold; */
        border-color: #bababa;
        outline: none;  
    }

.inputBoxVolumeUnit input {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
    text-indent: 0.4rem;
    /* font-size: 14px; */
}
    .inputBoxVolumeUnit input:focus {
        border-color: #bababa;
        outline: none;  
    }
#UnitContent {
  width: 80px;
}

.inputBoxCompany input {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
    text-indent: 0.4rem;
    /* font-size: 14px; */
}
    .inputBoxCompany input:focus {
        border-color: #bababa;
        outline: none;  
    }

.inputBoxPrice input {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
    text-indent: 0.4rem;
    /* font-size: 14px; */
}
    .inputBoxPrice input:focus {
        border-color: #bababa;
        outline: none;  
    }

.inputBoxKCD input{
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        width: 300px;
        height: 30px;
        margin: 0px;
        margin-bottom: 40px;
        padding: 0px;
        text-indent: 0.4rem;
    }
    .inputBoxKCD input:focus {
        border-color: #bababa;
        outline: none;  
    }


.MDRegisterButtonWrapper {
    display: flex;
    justify-content: space-between;
    /* height: 40px; */
    margin-top: 30px;
}

.MDRegisterButtonWrapper button{
    padding: 8px 17px;
    color: #000000;
    background-color: #e7e7e7;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 5px;
}


